{% include 'overall_header.html' %}

<h1>{{ lang('ADD_USER') }}</h1>
<p>{{ lang('ADD_USER_EXPLAIN') }}</p>

<form id="register" method="post" autocomplete="off" action="{{ U_ACTION }}">

	{% if ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR }}</p>
	</div>
	{% endif %}

	<fieldset>
		<legend>{{ lang('REGISTRATION') }}</legend>
		<p>{{ lang('REG_COND') }}</p>

		<dl>
			<dt><label for="username">{{ lang('USERNAME') ~ lang('COLON') }}</label><br><span>{{ lang('USERNAME_EXPLAIN') }}</span></dt>
			<dd><input class="medium" type="text" id="username" name="username" size="25" maxlength="40" value="{{ NEW_USERNAME }}" /></dd>
		</dl>
		<dl>
			<dt><label for="email">{{ lang('EMAIL_ADDRESS') ~ lang('COLON') }}</label></dt>
			<dd><input class="medium" type="text" name="email" id="email" size="25" maxlength="255" value="{{ EMAIL }}" /></dd>
		</dl>
		<dl>
			<dt><label for="new_password">{{ lang('PASSWORD') ~ lang('COLON') }}</label><br><span>{{ lang('PASSWORD_EXPLAIN') }}</span></dt>
			<dd><input type="password" name="new_password" id="new_password" size="25" value="{{ PASSWORD }}" class="inputbox autowidth" title="{{ lang('NEW_PASSWORD') }}" /></dd>
		</dl>
		<dl>
			<dt><label for="password_confirm">{{ lang('CONFIRM_PASSWORD') ~ lang('COLON') }}</label></dt>
			<dd><input type="password" name="password_confirm" id="password_confirm" size="25" value="{{ PASSWORD_CONFIRM }}" class="inputbox autowidth" title="{{ lang('CONFIRM_PASSWORD') }}" /></dd>
		</dl>
		<dl>
			<dt><label for="lang">{{ lang('LANGUAGE') ~ lang('COLON') }}</label></dt>
			<dd><select name="lang" id="lang">{{ S_LANG_OPTIONS }}</select></dd>
		</dl>
		{% include 'timezone_option.html' %}
		<dl id="groups">
			<dt><label for="group">{{ lang('GROUPS') ~ lang('COLON') }}</label><br><span>{{ lang('GROUP_ADD') }}</span></dt>
			<dd>{{ S_GROUP_OPTIONS }}</dd>
		</dl>
		<dl class="default_group">
			<dt><label for="group_default">{{ lang('GROUP_DEFAULT') ~ lang('COLON') }}</label><br><span>{{ lang('GROUP_DEFAULT_EXPLAIN') }}</span></dt>
			<dd><input id="group_default" class="radio" type="checkbox" value="1" {{ U_GROUP_DEFAULT }} name="group_default" /></dd>
		</dl>
		{% if S_NEW_USER_SET %}
		<dl>
			<dt><label for="new_user">{{ lang('ENABLE_NEWUSER') ~ lang('COLON') }}</label><br><span>{{ lang('ENABLE_NEWUSER_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="new_user" value="1"{% if S_NEW_USER_ENABLE %} id="new_user" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="new_user" value="0"{% if not S_NEW_USER_ENABLE %} id="new_user" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		{% endif %}
		{% if S_BIRTHDAYS_ENABLED %}
		<dl>
			<dt><label for="birthday">{{ lang('BIRTHDAY') ~ lang('COLON') }}</label><br><span>{{ lang('BIRTHDAY_EXPLAIN') }}</span></dt>
			<dd>{{ lang('DAY') ~ lang('COLON') }} <select id="birthday" name="bday_day">{{ S_BIRTHDAY_DAY_OPTIONS }}</select> {{ lang('MONTH') ~ lang('COLON') }} <select name="bday_month">{{ S_BIRTHDAY_MONTH_OPTIONS }}</select> {{ lang('YEAR') ~ lang('COLON') }} <select name="bday_year">{{ S_BIRTHDAY_YEAR_OPTIONS }}</select></dd>
		</dl>
		{% endif %}
		{% if S_ADMIN_ACTIVATE %}
		<dl>
			<dt><label for="admin_activate">{{ lang('ADMIN_ACTIVATE') ~ lang('COLON') }}</label></dt>
			<dd><input id="admin_activate" class="radio" type="checkbox" value="1" {{ U_ADMIN_ACTIVATE }} name="activate" /></dd>
		</dl>
		{% endif %}
	</fieldset>

	{% if profile_fields %}
	<fieldset>
		<dl><dd><strong>{{ lang('ITEMS_REQUIRED') }}</strong></dd></dl>

		{% for profile_field in profile_fields %}
		<dl>
			<dt><label{% if profile_field.FIELD_ID %} for="{{ profile_field.FIELD_ID }}"{% endif %}>{{ profile_field.LANG_NAME }}{{ lang('COLON') }}{% if profile_field.S_REQUIRED %} *{% endif %}</label>
				{% if profile_field.LANG_EXPLAIN %}<br><span>{{ profile_field.LANG_EXPLAIN }}</span>{% endif %}
				{% if profile_field.ERROR %}<br><span class="error">{{ profile_field.ERROR }}</span>{% endif %}</dt>
			<dd>{{ profile_field.FIELD }}</dd>
		</dl>
		{% endfor %}
	</fieldset>
	{% endif %}

	<fieldset class="quick">
		<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;&nbsp;<input class="button1" type="reset" value="{{ lang('RESET') }}" name="reset" />
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

{% include 'overall_footer.html' %}
